<template>
  <q-page class=" col-auto">
    <q-dialog v-model="productpopup" style="width:800vh" full-width full-height>
      <q-card>
        <q-card-section>
          <q-table
            title="Товар"
            style="min-width:800px;"
            v-if="this.currentproduct.length"
            :columns="productcolumns"
            :data="[product]"
            flat
            dense
          >
          </q-table>
          <q-table
            title="Привязан"
            style="min-width:1200px;"
            v-if="this.currentproduct.length"
            :columns="productlinkcolumns"
            :data="product.links"
            flat
            dense
          >
            <template v-slot:body-cell-dealer="props">
              <q-td :props="props">
                <div v-if="props.value.length">
                  <q-toggle
                    v-model="currentproductunlinked"
                    :val="props.row.id"
                  />

                  {{ props.value }}
                </div>
              </q-td>
            </template>
          </q-table>

          <q-table
            title="Поиск у дилера"
            style="min-width:1200px;"
            :columns="productsearchcolumns"
            :data="searchproducts"
            flat
            dense
          >
            <template v-slot:body-cell-link_names="props">
              <q-td :props="props">
                <div v-if="props.value.length">
                  {{ props.value }}
                </div>
                <div>
                  <q-toggle
                    v-model="currentproductlinked"
                    :val="props.row.id"
                  />
                </div>
              </q-td>
            </template>
            <template v-slot:top-left>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="linksearch"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
          </q-table>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-table
      v-if="this.currentdealer.id"
      dense
      style="height:700px;"
      virtual-scroll
      separator="vertical"
      flat
      :visible-columns="columnsshow"
      :data="products.items"
      :columns="columns"
      row-key="code"
      :rows-per-page-options="[20, 50, 200, 500]"
      :pagination.sync="pagination"
      :loading="this.$apollo.queries.products.loading"
      @request="onRequest"
      selection="single"
      :selected.sync="currentproduct"
      binary-state-sort
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            ><q-btn
              dense
              class="q-ma-sm"
              color="black"
              size="xs"
              icon="settings"
              label=""
              ><q-menu fit anchor="bottom left" self="top left">
                <q-item
                  v-for="item in columns"
                  :key="item.name"
                  dense
                  clickable
                >
                  <q-item-section>
                    <q-checkbox
                      dense
                      :label="item.label"
                      :val="item.name"
                      v-model="columnsshow"
                  /></q-item-section>
                </q-item> </q-menu></q-btn
          ></q-th>
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
            class=""
          >
            <q-btn-dropdown v-if="col.name == 'parentname'" dense icon="list">
              <q-input
                ref="filterInput"
                filled
                v-model="filterCat"
                label="Поиск"
              >
                <template v-slot:append>
                  <q-icon
                    v-if="filterCat !== ''"
                    name="clear"
                    class="cursor-pointer"
                    @click="resetFilter"
                  />
                </template>
              </q-input>
              <q-tree
                :nodes="simple"
                node-key="id"
                :filter="filterCat"
                tick-strategy="leaf"
                :ticked.sync="ticked"
              />
            </q-btn-dropdown>
            <q-input
              @click.stop
              v-if="col.name != 'parentname'"
              v-model="filedsFilter[col.name]"
              :placeholder="col.label"
              :dense="dense"
              class=" inline"
              style="width:90%"
            >
              <template
                v-slot:before
                v-if="col.name == 'cost' || col.name == 'quantity'"
              >
                <q-select
                  @click.stop
                  hide-dropdown-icon
                  borderless
                  :options-dense="dense"
                  v-model="filedsFilter[col.name + '_cmp']"
                  :dense="dense"
                  :options="intcmp"
                />
              </template>
            </q-input>
          </q-th>
        </q-tr>
      </template>
    </q-table>
    <div v-if="currentproduct.length && this.product">
      <ul id="example-1">
        <li v-for="item in this.product.productpricehistorySet" :key="item.id">
          {{ item.cost }} - {{ item.datetime }}
        </li>
      </ul>
      <ul id="example-1">
        <li v-for="item in this.product.productavailhistorySet" :key="item.id">
          {{ item.quantity }} - {{ item.datetime }}
        </li>
      </ul>
    </div>
  </q-page>
</template>

<script lang="ts">
//import { Todo, Meta } from 'components/models';
//import ExampleComponent from 'components/CompositionComponent.vue';
import { defineComponent } from '@vue/composition-api';
import { log } from 'console';
import gql from 'graphql-tag';

export default defineComponent({
  name: 'PageDealer',
  components: {},
  props: { indealerID: String },
  apollo: {
    categories: {
      query: gql`
        query($dealerId: String!) {
          categories(dealerId: $dealerId) {
            name
            id
            code
            parentId
          }
        }
      `,
      variables() {
        return {
          dealerId: this.currentdealer.id //'d1a47abc-6c81-4af2-b44a-f1387f59515c'
        };
      },
      //    update: data => data.categories,

      skip() {
        return this.skipQueryCategories;
      }
    },
    product: {
      query: gql`
        query($id: String) {
          product(id: $id) {
            id
            name
            partnumber
            code
            quantity
            cost
            productpricehistorySet {
              id
              cost
              datetime
            }
            productavailhistorySet {
              id
              quantity
              datetime
            }
            parent {
              name
              parentId
            }
            links {
              id
              code
              quantity
              cost
              name
              partnumber
              parent {
                name
              }
              dealer {
                name
              }
            }
          }
        }
      `,

      variables() {
        if (this.currentproduct.length > 0) {
          return {
            id: this.currentproduct[0].id
          };
        } else {
          return { id: '' };
        }
      },
      update(data) {
        let item = data.product;

        item.link_name = '';
        item.link_cost = '';

        item.links = item.links.map(link => {
          link.dealer_name = link.dealer.name;
          this.currentproductunlinked.push(link.id);
          return link;
        });

        if (item.links.length) {
          let links = item.links;
          links.sort((a, b) =>
            a.cost > b.cost ? 1 : b.cost > a.cost ? -1 : 0
          );
          item.link_name = links[0].dealer.name;
          item.link_cost = links[0].cost;
        }

        //item.dealer_name = item.dealer.name;

        return item;

        data.products.items = data.products.items.map(item => {
          item.parentname = item.parent.name;
          //console.log(item.productpriceSet);
          item.dealer_name = item.dealer.name;

          item.link_name = '';
          item.link_cost = '';

          item.links = item.links.map(link => {
            link.dealer_name = link.dealer.name;
          });
          //console.log(item.links);
          if (item.links.length) {
            let links = item.links;
            links.sort((a, b) =>
              a.cost > b.cost ? 1 : b.cost > a.cost ? -1 : 0
            );
            item.link_name = links[0].dealer.name;
            item.link_cost = links[0].cost;
          }

          return item;
        });

        //console.log(data);
        // The returned value will update
        // the vue property 'pingMessage'
        return data.products;
      },

      skip() {
        return true;
        // return this.skipQueryProduct;
      }
    },
    searchproducts: {
      query: gql`
        query($search: String!, $curdealer: String!) {
          searchproducts(search: $search, curdealer: $curdealer) {
            name
            id
            code
            partnumber
            quantity
            cost
            dealer {
              name
            }
            parent {
              name
              parentId
            }
            links {
              code
              quantity
              cost
              name
              partnumber
              parent {
                name
              }
              dealer {
                name
              }
            }
          }
        }
      `,
      variables() {
        return {
          search: this.linksearch,
          curdealer: this.currentdealer.id
        };
      },
      update(data) {
        data.searchproducts = data.searchproducts.map(item => {
          item.parentname = '';
          if (typeof item.parent != 'undefined') {
            item.parentname = item.parent.name;
          }
          //console.log(item.productpriceSet);
          item.link_names = '';
          item.dealer_name = item.dealer.name;
          item.links = item.links.map(link => {
            link.dealer_name = link.dealer.name;
            item.link_names +=
              String(link.dealer.name) + ' (' + String(link.code) + ') ';
            return link;
          });
          return item;
        });

        //console.log(data);
        // The returned value will update
        // the vue property 'pingMessage'
        return data.searchproducts;
      },
      //    update: data => data.categories,

      skip() {
        return true;
      }
    },
    products: {
      query: gql`
        query(
          $page: Int!
          $size: Int!
          $dealerId: String!
          $categoryId: [String]
          $filedsFilter: GenericScalar
          $sortBy: String
        ) {
          products(
            page: $page
            size: $size
            dealerId: $dealerId
            categoryId: $categoryId
            filedsFilter: $filedsFilter
            sortBy: $sortBy
          ) {
            page
            pages
            count
            items {
              quantity
              cost
              parent {
                name
                parentId
              }
              links {
                code
                quantity
                cost
                name
                partnumber
                parent {
                  name
                }
                dealer {
                  name
                }
              }
              name
              id
              code
              partnumber
            }
          }
        }
      `,
      variables() {
        return {
          page: this.pagination.page,
          size: this.pagination.rowsPerPage,
          dealerId: this.currentdealer.id,
          categoryId: this.currentdealercategories, //'d1a47abc-6c81-4af2-b44a-f1387f59515c'
          filedsFilter: this.filedsFilter,
          sortBy: this.sortBy
        };
      },
      update(data) {
        data.products.items = data.products.items.map(item => {
          item.parentname = '';
          if (item.parent && typeof item.parent != 'undefined') {
            item.parentname = item.parent.name;
          }
          //console.log(item.productpriceSet);
          item.link_name = '';
          item.link_cost = '';
          item.links = item.links.map(link => {
            //if (link.quantity < 1) return {};
            link.dealer_name = link.dealer.name;
            return link;
          });

          if (item.links.length) {
            let links = item.links;
            links.sort((a, b) =>
              a.cost > b.cost ? 1 : b.cost > a.cost ? -1 : 0
            );
            for (let i = 0; i < links.length; i++) {
              if (links[i].quantity > 1) {
                item.link_name = links[0].dealer.name;
                item.link_cost = links[0].cost;
                break;
              }
            }
          }

          return item;
        });

        //console.log(data);
        // The returned value will update
        // the vue property 'pingMessage'
        return data.products;
      },
      //    update: data => data.categories,

      skip() {
        return this.skipQuery;
      }
    }
  },

  data() {
    return {
      currentproductlinked: [],
      currentproductunlinked: [],
      linksearch: '',
      productpopup: false,
      product: {},
      sortBy: 'code',
      ticked: [],
      filterCat: '',
      simple: [],
      intcmp: ['=', '>', '<', '<>', '()'],
      dense: true,
      searchproducts: [],
      currentproduct: [],
      filedsFilter: {
        name: '',
        code: '',
        partnumber: '',
        cost_cmp: '>',
        quantity_cmp: '>'
      },

      columnsshow: [
        'code',
        'name',
        'parentname',
        'partnumber',
        'cost',
        'quantity',
        'link_name',
        'link_cost'
      ],
      loading: false,
      skipQuery: true,
      skipQueryProduct: true,
      products: { items: [] },
      productspaged: {},
      pagination: {
        sortBy: 'code',
        descending: false,
        page: 1,
        rowsPerPage: 20,
        rowsNumber: 0
      },
      // data: [],
      data: [
        {
          code: 1,
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        }
      ],
      productlinkcolumns: [
        {
          name: 'dealer',
          label: 'Дилер',
          align: 'left',
          field: 'dealer_name',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'code',
          label: 'Артикул',
          align: 'left',
          field: 'code',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: true
        },
        {
          headerStyle: 'width: 150px',
          style: 'max-width: 150px; overflow-x:hidden',
          align: 'left',
          name: 'partnumber',
          label: 'Партномер',
          field: 'partnumber',
          sortable: true
        },
        {
          name: 'parentname',
          label: 'Раздел',
          align: 'left',
          field: 'parentname',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'name',
          align: 'left',
          label: 'Название',
          field: 'name',
          filter: 'input',
          style: 'max-width: 700px; overflow-x:hidden',
          sortable: true
        },

        {
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; ',

          name: 'cost',
          label: 'Цена',
          field: 'cost',
          sortable: true
        },
        {
          headerStyle: 'min-width: 70px',
          style: 'width: 70px; overflow-x:hidden',

          name: 'quantity',
          label: 'Наличие',
          field: 'quantity',
          sortable: true
        }
      ],
      productsearchcolumns: [
        {
          name: 'link_names',
          label: 'Привязан',
          align: 'left',
          field: 'link_names',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'dealer',
          label: 'Дилер',
          align: 'left',
          field: 'dealer_name',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'code',
          label: 'Артикул',
          align: 'left',
          field: 'code',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: true
        },
        {
          headerStyle: 'width: 150px',
          style: 'max-width: 150px; overflow-x:hidden',
          align: 'left',
          name: 'partnumber',
          label: 'Партномер',
          field: 'partnumber',
          sortable: true
        },
        {
          name: 'parentname',
          label: 'Раздел',
          align: 'left',
          field: 'parentname',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'name',
          align: 'left',
          label: 'Название',
          field: 'name',
          filter: 'input',
          style: 'max-width: 700px; overflow-x:hidden',
          sortable: true
        },

        {
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; ',

          name: 'cost',
          label: 'Цена',
          field: 'cost',
          sortable: true
        },
        {
          headerStyle: 'min-width: 70px',
          style: 'width: 70px; overflow-x:hidden',

          name: 'quantity',
          label: 'Наличие',
          field: 'quantity',
          sortable: true
        }
      ],
      productcolumns: [
        {
          name: 'code',
          label: 'Артикул',
          align: 'left',
          field: 'code',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: true
        },
        {
          headerStyle: 'width: 150px',
          style: 'max-width: 150px; overflow-x:hidden',
          align: 'left',
          name: 'partnumber',
          label: 'Партномер',
          field: 'partnumber',
          sortable: true
        },
        {
          name: 'parentname',
          label: 'Раздел',
          align: 'left',
          field: 'parentname',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'name',
          align: 'left',
          label: 'Название',
          field: 'name',
          filter: 'input',
          style: 'max-width: 700px; overflow-x:hidden',
          sortable: true
        },

        {
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; ',

          name: 'cost',
          label: 'Цена',
          field: 'cost',
          sortable: true
        },
        {
          headerStyle: 'min-width: 70px',
          style: 'width: 70px; overflow-x:hidden',

          name: 'quantity',
          label: 'Наличие',
          field: 'quantity',
          sortable: true
        }
      ],
      columns: [
        {
          name: 'code',
          label: 'Артикул',
          align: 'left',
          field: 'code',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: true
        },
        {
          headerStyle: 'width: 150px',
          style: 'max-width: 150px; overflow-x:hidden',
          align: 'left',
          name: 'partnumber',
          label: 'Партномер',
          field: 'partnumber',
          sortable: true
        },
        {
          name: 'parentname',
          label: 'Раздел',
          align: 'left',
          field: 'parentname',
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; overflow-x:hidden',
          sortable: false
        },
        {
          name: 'name',
          align: 'left',
          label: 'Название',
          field: 'name',
          filter: 'input',
          style: 'max-width: 700px; overflow-x:hidden',
          sortable: true
        },

        {
          headerStyle: 'width: 100px',
          style: 'max-width: 100px; ',

          name: 'cost',
          label: 'Цена',
          field: 'cost',
          sortable: true
        },
        {
          headerStyle: 'min-width: 70px',
          style: 'width: 70px; overflow-x:hidden',

          name: 'quantity',
          label: 'Наличие',
          field: 'quantity',
          sortable: true
        },
        {
          headerStyle: 'min-width: 70px',
          style: 'width: 70px; overflow-x:hidden',

          name: 'link_name',
          label: 'Связан',
          field: 'link_name',
          sortable: false
        },
        {
          headerStyle: 'min-width: 70px',
          style: 'width: 70px; overflow-x:hidden',

          name: 'link_cost',
          label: 'ЦенаСвязи',
          field: 'link_cost',
          sortable: false
        }
      ],
      currentdealer: { label: '', id: '' },
      currentdealercategories: []
    };
  },
  watch: {
    currentproductunlinked(newval, oldval) {
      let difference = oldval.filter(x => !newval.includes(x));
      console.log(difference);
      if (this.currentproduct.length && difference.length) {
        // console.log(this.currentproduct);
        //console.log(oldval, '=>', newval);
        this.$apollo.mutate({
          mutation: gql`
            mutation($id: String!, $links: [UUID]) {
              deleteProductlinks(id: $id, links: $links) {
                product {
                  name
                }
              }
            }
          `,
          /*
          update: (store, { data: { createProductlinks } }) => {
            // Read the data from our cache for this query.
            const data = store.readQuery({ query: product });
            // Add our tag from the mutation to the end
            data.product.push(createProductlinks);
            // Write our data back to the cache.
            store.writeQuery({ query: product, data });
          },
          optimisticResponse: {
            __typename: 'Mutation',
            Product: {
              __typename: 'Product',
              id: this.currentproduct[0].id
            }
          },
          */
          variables: {
            id: this.currentproduct[0].id,
            links: difference
          }
        });
      }
      console.log(difference);
    },
    currentproductlinked(newval, oldval) {
      if (this.currentproduct.length) {
        // console.log(this.currentproduct);
        console.log(oldval, '=>', newval);
        this.$apollo.mutate({
          mutation: gql`
            mutation($id: String!, $links: [UUID]) {
              createProductlinks(id: $id, links: $links) {
                product {
                  name
                }
              }
            }
          `,
          /*
          update: (store, { data: { createProductlinks } }) => {
            // Read the data from our cache for this query.
            const data = store.readQuery({ query: product });
            // Add our tag from the mutation to the end
            data.product.push(createProductlinks);
            // Write our data back to the cache.
            store.writeQuery({ query: product, data });
          },
          optimisticResponse: {
            __typename: 'Mutation',
            Product: {
              __typename: 'Product',
              id: this.currentproduct[0].id
            }
          },
          */
          variables: {
            id: this.currentproduct[0].id,
            links: newval
          }
        });
      }
      //console.log();
    },
    linksearch() {
      if (this.linksearch.length > 0) {
        this.$apollo.queries.searchproducts.skip = false;
      }
    },
    ticked() {
      this.currentdealercategories = this.ticked;
      //console.log(JSON.parse(JSON.stringify(this.ticked)));
      //this.$root.$emit(
      //  'currentdealercategory',
      //  JSON.parse(JSON.stringify(this.ticked))
      //);
    },
    categories() {
      function pack(data) {
        const childs = id =>
          data
            .filter(item => item.parentId === id)
            .map(({ id, label }) => ({ id, label, children: childs(id) }))
            .map(({ id, label, children }) =>
              children.length ? { id, label, children } : { id, label }
            );
        return childs('00000000-0000-0000-0000-000000000000');
      }

      var cats = this.categories.reduce(
        (obj, item) => (
          obj.push({ parentId: item.parentId, label: item.name, id: item.id }),
          obj
        ),
        []
      );
      //this.issimple = false;
      //console.log(cats);
      this.simple = pack(cats);
      if (this.simple.length) {
        //this.issimple = true;
      }
      //console.log(this.simple);
      //console.log(this.categories);
    },
    $route(to, from) {
      this.updatedealer(to.params.id);
    },

    filedsFilter: {
      deep: true,
      handler: function() {
        this.$apollo.queries.products.skip = false;
        //console.log(this.filter);
      }
    },

    currentproduct() {
      this.currentproductlinked = [];
      this.currentproductunlinked = [];
      if (this.currentproduct.length > 0) {
        //this.updateproduct(this.currentproduct);
        this.$apollo.queries.product.skip = false;

        this.productpopup = true;
      } else {
        this.productpopup = false;

        this.$apollo.queries.product.skip = true;
      }
    },
    products() {
      //console.log(this.products);
      this.pagination.rowsNumber = this.products.count;
      //this.pagination.page = this.products.page;
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.updatedealer(this.$route.params.id);
    }
    if (this.indealerID) {
      this.updatedealer(this.indealerID);
    }
    this.$root.$on('currentdealer', this.updatedealer);

    //this.updatedealer(this.$route.params.id);
    //this.$root.$on('currentdealer', this.updatedealer);
    this.$root.$on('currentdealercategory', this.updatedealercategories);
  },
  methods: {
    resetFilter() {
      this.filterCat = '';
      this.$refs.filterInput.focus();
    },
    onRequest(props) {
      const data = this.original;
      const { page, rowsPerPage, sortBy, descending } = props.pagination;

      //console.log(props.pagination);
      //this.$apollo.queries.products.skip = false;
      //console.log(sortBy + ' ' + descending);
      props.pagination.rowsNumber = this.products.count;
      //console.log(this.products);

      if (descending) {
        this.sortBy = '-' + String(sortBy);
      } else {
        this.sortBy = sortBy;
      }
      this.pagination = props.pagination;

      return data;
    },
    updateproduct(msg) {
      //console.log(msg);
      this.currentproductlinked = [];
      if (msg.length > 0) {
        // this.$apollo.queries.product.skip = false;
      } else {
        // this.$apollo.queries.product.skip = true;
      }
      this.$apollo.queries.product.skip = true;
    },
    updatedealer(msg) {
      //this.loading = true;
      this.filter = {};
      this.pagination.page = 1;
      this.currentdealercategories = [];
      this.currentdealer.id = msg;
      this.$apollo.queries.products.skip = false;
      this.$apollo.queries.categories.skip = false;
      console.log(msg);
    },
    updatedealercategories(msg) {
      this.pagination.page = 1;
      this.currentdealercategories = msg;
      this.$apollo.queries.products.skip = false;

      //console.log(msg.id);
    }
  },
  created() {
    //console.log('asd');
    //
  },
  setup() {
    return {
      //currentdealer
    };
  }
});
</script>
