<template>
  <div v-if="issimple">
    <q-input ref="filter" filled v-model="filter" label="Поиск">
      <template v-slot:append>
        <q-icon
          v-if="filter !== ''"
          name="clear"
          class="cursor-pointer"
          @click="resetFilter"
        />
      </template>
    </q-input>

    <q-tree
      dense
      :nodes="simple"
      node-key="id"
      :filter="filter"
      tick-strategy="leaf"
      :ticked.sync="ticked"
    />
  </div>
</template>

<script>
import {
  defineComponent,
  PropType,
  computed,
  ref,
  toRef,
  Ref
} from '@vue/composition-api';

//import { Todo } from './models';
import gql from 'graphql-tag';

function useClickCount() {
  const clickCount = ref(0);
  function increment() {
    clickCount.value += 1;
    return clickCount.value;
  }

  return { clickCount, increment };
}

const stringOptions = [{ label: 'Google' }];
const options = [];
const categories = [];
const cats = [];

export default defineComponent({
  name: 'DealerCategoriesList',
  props: { dealerID: String },
  apollo: {
    categories: {
      query: gql`
        query($dealerId: String!) {
          categories(dealerId: $dealerId) {
            name
            id
            code
            parentId
          }
        }
      `,
      variables() {
        return {
          dealerId: this.dealerID //'d1a47abc-6c81-4af2-b44a-f1387f59515c'
        };
      },
      //    update: data => data.categories,

      skip() {
        return this.skipQuery;
      }
    }
  },
  data() {
    return {
      issimple: false,
      selected: [],
      ticked: [],
      categories: ref(cats),
      skipQuery: true,
      filter: '',
      simple: [],
      cats,
      loading: false,
      currentdealer: { label: '', id: '' }
    };
  },
  mounted() {
    if (this.dealerID.length) {
      this.$root.$emit('currentdealer', this.dealerID);
    }
    this.$apollo.queries.categories.skip = false;
    this.$root.$on('currentdealer', this.updateCategories);
  },
  methods: {
    updateCategories(msg) {
      console.log('updateCategories');
      this.currentdealer = msg;
    },
    resetFilter() {
      this.filter = '';
      this.$refs.filter.focus();
    }
  },
  computed: {
    options() {
      object = [];
      if (typeof this.dealers != 'undefined') {
        var object = this.dealers.reduce(
          (obj, item) => (obj.push({ label: item.name, id: item.id }), obj),
          []
        );
        // console.log(object);
      }
      //alert(this.dealers.reduce());
      return Object.freeze(object);
    }
  },
  watch: {
    ticked() {
      //console.log(JSON.parse(JSON.stringify(this.ticked)));
      this.$root.$emit(
        'currentdealercategory',
        JSON.parse(JSON.stringify(this.ticked))
      );
    },
    categories() {
      function pack(data) {
        const childs = id =>
          data
            .filter(item => item.parentId === id)
            .map(({ id, label }) => ({ id, label, children: childs(id) }))
            .map(({ id, label, children }) =>
              children.length ? { id, label, children } : { id, label }
            );
        return childs('00000000-0000-0000-0000-000000000000');
      }

      var cats = this.categories.reduce(
        (obj, item) => (
          obj.push({ parentId: item.parentId, label: item.name, id: item.id }),
          obj
        ),
        []
      );
      this.issimple = false;
      //console.log(cats);
      this.simple = pack(cats);
      if (this.simple.length) {
        this.issimple = true;
      }
      //console.log(this.simple);
      //console.log(this.categories);
    },
    // stringOptions(dealers) {}
    currentdealer() {
      this.$root.$emit('currentdealer', this.currentdealer);
      this.$apollo.queries.categories.skip = false;
      //console.log(this.currentdealer);
      //this.$q.localStorage.set('dealer', this.currentdealer);
    }
  },
  setup(props) {
    //const options = ref(stringOptions);

    return {
      //model: ref(null),
      // stringOptions,
      // options,
      filterFn(val, update) {
        if (val === '') {
          update(() => {
            options.value = stringOptions;
          });
          return;
        }

        update(() => {
          const needle = val.toLowerCase();
          options.value = stringOptions.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          );
        });
      }
      //...useClickCount(),
      //...useDisplayTodo(toRef(props, 'todos'))
    };
  }
});
</script>
