<template>
  <div>
    <q-select
      filled
      v-model="currentdealer"
      use-input
      hide-selected
      fill-input
      input-debounce="0"
      label="Поставщик"
      :options="options"
      @filter="filterFn"
      @filter-abort="abortFilterFn"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-grey"> No results </q-item-section>
        </q-item>
      </template>
    </q-select>
  </div>
</template>

<script>
import {
  defineComponent,
  PropType,
  computed,
  ref,
  toRef,
  Ref
} from '@vue/composition-api';

//import { Todo } from './models';
import gql from 'graphql-tag';

function useClickCount() {
  const clickCount = ref(0);
  function increment() {
    clickCount.value += 1;
    return clickCount.value;
  }

  return { clickCount, increment };
}

const stringOptions = [{ label: 'Google' }];
const options = [];

export default defineComponent({
  name: 'DealersList',
  props: {},
  apollo: {
    dealers: {
      query: gql`
        query {
          dealers {
            name
            id
          }
        }
      `
    }
  },
  data() {
    return {
      loading: false,
      currentdealer: null
    };
  },
  mounted() {},
  methods: {
    abortFilterFn() {
      // console.log('delayed filter aborted')
    }
  },
  computed: {
    options() {
      object = [];
      if (typeof this.dealers != 'undefined') {
        var object = this.dealers.reduce(
          (obj, item) => (obj.push({ label: item.name, id: item.id }), obj),
          []
        );
        // console.log(object);
      }
      //alert(this.dealers.reduce());
      return Object.freeze(object);
    }
  },
  watch: {
    // stringOptions(dealers) {}
    currentdealer() {
      this.$root.$emit('currentdealer', this.currentdealer);
      //console.log(this.currentdealer);
      //this.$q.localStorage.set('dealer', this.currentdealer);
    }
  },
  setup(props) {
    //const options = ref(stringOptions);

    return {
      //model: ref(null),
      // stringOptions,
      // options,
      filterFn(val, update) {
        if (val === '') {
          update(() => {
            options.value = stringOptions;
          });
          return;
        }

        update(() => {
          const needle = val.toLowerCase();
          options.value = stringOptions.filter(
            v => v.toLowerCase().indexOf(needle) > -1
          );
        });
      }
      //...useClickCount(),
      //...useDisplayTodo(toRef(props, 'todos'))
    };
  }
});
</script>
