<template>
  <q-layout view="hHh Lpr lFf">
    <q-header transparent bordered class="bg-black">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          <router-link to="/">xiprod</router-link>
        </q-toolbar-title>
        <q-tabs v-model="tab" dense shrink stretch no-caps inline-label>
          <q-route-tab name="goods" :label="$t('goods')" to="/goods" exact />
          <q-route-tab name="dealers" :label="$t('dealers')" to="/dealers" />
          <q-route-tab name="settings" :label="$t('settings')" to="/settings" />
        </q-tabs>
        <div></div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-expansion-item
          expand-separator
          icon="mail"
          label="Каталог"
          default-closed
          ><dealer-categories-list
            dealerID="35b8d117-b9b6-40ea-9393-cad970ef5c4f"
          />
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          icon="mail"
          label="Поставщики
          "
          default-closed
          ><dealers-list-left></dealers-list-left>
        </q-expansion-item>
        <!--
        <q-item clickable tag="a" rel="noopener" href="#">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Линковка</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" rel="noopener" href="#">
          <q-item-section avatar>
            <q-icon name="code" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Аналитика</q-item-label>
          </q-item-section>
        </q-item>
        -->
        <q-expansion-item
          expand-separator
          icon="mail"
          label="Ценообразование
          "
          default-closed
          ><strategy-left></strategy-left>
        </q-expansion-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import DealersList from 'src/components/DealersList.vue';
import DealerCategoriesList from 'src/components/DealerCategoriesList.vue';
import DealersListLeft from 'src/components/DealersListLeft.vue';
import StrategyLeft from 'src/components/StrategyLeft.vue';

export default defineComponent({
  name: 'MainLayout',
  components: {
    DealersList,
    DealerCategoriesList,
    DealersListLeft,
    StrategyLeft
  },
  setup() {
    const leftDrawerOpen = ref(false);

    return {
      tab: ref('goods'),
      leftDrawerOpen,
      model: ref(null)
    };
  }
});
</script>
